@font-face {
  font-family: "Acme";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/acme-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/acme-v10-latin-regular.woff") format("woff");
}
