.sitefooter {
  background-color: #2D314D;
  padding: 48px 0;
}

.logos {
  display: flex;
  flex-direction: column;
}

.footer__container {
  display: flex;
  align-items: center;
}

.logos__sns {
  display: flex;
  margin-top: 50px;
}

.logos__sns img {
  margin-right: 10px;
}

.footer-navlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 130px;
  flex-wrap: wrap;
  margin-left: 130px;
  margin-right: auto;
}

.footer-navlist__item a {
  margin-right: 100px;
  color:#fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}

.footer__right p {
  margin-top: 25px;
  color: #aaa;
}

.footer-logo {
  display: inline-block;
  object-fit: cover;
  width: 140px;
  height: 20px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-navlist__item {
  margin-top: 10px;
  transition: color 0.3s ease;
}
.footer-navlist__item a:hover {
  color: #30C88F;
}

.btn-wrapper {
  background-color: #fff;
  display: block;
  border-radius: 22px;
  max-width: 160px;
}

.sitefooter svg{
  color: #fff;
  transition: color 0.3s ease;
  margin-right: 14px;
}

.sitefooter svg:hover{
  color: #30C88F;
}



