.header {
  background-color: #fff;
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  background: none;
  border: none;
}

.hamburger__img {
  display: block;
}

@media only screen and (max-width:357px) {
  .sitenav {
    display: none;
  }
  .logo {
    margin: 15px;
  }

  .hamburger {
    padding: 15px 10px;
    padding-bottom: 20px;
  }

  .hamburger {
    display: block;
  }

  .sitenav-open {
    position: fixed;
    width: 100%;
    z-index: 20;
    padding: 50px 30px;
    display: block;
    height: calc(100vh - 130px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    left: 0;
    top: 50px;
  }

  .sitenav__list {
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
    // min-height: 350px;
  }


  .sitenav__item a {
    display: block;
  }

  .header .main__btn {
    display: none;
  }

  .hamburger {
    background-image: url("../img/hamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 15px;
  }

  .hambuger-opened {
    background-image: url("../img/Group (1).svg");
  }

}
