.sitenav {
  background-color: #fff;
  border-radius: $global-radius;
}

.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sitenav__item {
  flex-grow: 1;
  border: 1px solid #000;
}

.sitenav__link {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-align: center;

  &::before {
    content: "Birnima";
  }

  &:hover {
    background-color: gold;
  }

  &:hover::before {
    transform: rotate(45deg);
  }
}
